body {
    margin: 0;
}
  .background_image {
    background-image: url(../images/hd_texture_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
  header {
    display: block;
    background-color: transparent;
    color: #d9fb03;
}
  header ul { 
  text-align: center;
  color: #d9fb03;
}
/* header list*/
header li {
  display: inline-block;
  padding: 22px;
  color: #d9fb03;
  font-size: larger;
}
h1 {
  color: #d9fb03;
  background-color: transparent;
}
p {
  display: box;
  text-indent: none;
  text-transform: normal;
  background-color: transparent;
}
.heroImg {
  background-color: transparent;
  padding: 10px 15px;
}
.content {
  max-width: -10px;
  margin: 0 auto;
  padding: 108px;
  background-color: transparent;
  color: #ebebeb;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: #d9fb03;
  font-size: 17px;
  border-radius: 8px;
}
footer {
  background-color: transparent;
  padding: 8px;
  color: #d9fb03;
  text-align: center;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 8px;
}
.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 40px;
}

/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 40px 30px;
  background-color: transparent;
  color: #ebebeb;
}
.flexContainer div {
  width: 33%;
  padding: 35px;
  background-color: black;
  color: #ebebeb;
}
h3 {
  position:relative;
  top: 0%;
  left: -1%;
  transform: translate(-50% -50%);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: .5px;
}
/* My Work Section */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: transparent;
  color: #ebebeb;
  text-align: center;
  columns: 50% 50%;
}
.workGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 50px;
  margin: 100px;
}
/*work images*/
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img1,
.img2,
.img3,
.content1,
.content2,
.content3 {
  padding: 50px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}